// TABELA DE LEITURAS

$green-color: rgb(1, 98, 1);
$danger-color: rgb(163, 0, 0);

.bold-text {
  font-weight: bold;

  &.green-value {
    color: $green-color;
  }
  &.danger-value {
    color: $danger-color;
  }
}

.data {
  color: black;
}

.obs-cell {
  display: -webkit-box;
  max-width: 48ch;
  overflow: hidden;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
}
