@import "variables";

$logo-height: 24px;

.topbar {
  padding: .5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: $border-b-topbar;
  background: map-get($map: $theme-colors, $key: light);

  .logo {
    display: flex;
    justify-content: space-between;
    gap: 12px;

    .brand-sep {
      width: 1px;
      height: $logo-height;
      background: $brand-separator;
    }

    .logo-img {
      height: $logo-height;
    }

    span {
      margin-left: 4px;
      font-size: 13px;
      color: $gray-light;
    }
  }
}

.avatar {
  display: flex;
  align-items: center;
  padding: 6px;
  border-radius: 2rem;
  border: $border-b-topbar;
  font-size: 12px;

  &-badge {
    background-color: $accent;
    font-weight: bold;
    color: $gray-lighter;
    padding: 4px 6px;
    border-radius: 50%;
  }

  &-name {
    color: $gray-dark;
    font-weight: 500;
    padding-inline: 8px;
  }
}
