@import "variables";

.app-layout {
  display: flex;
  min-height: 100vh;
}

.main-content {
  margin-left: $sidebar-expanded;
  flex: 1;
  background-color: $body-bg-security;
  transition: margin-left $transition;
}

.sidebar-collapsed {
  margin-left: $sidebar-collapsed;
}

.outlet {
  margin: 24px;
}
