<!-- FILTROS -->
<div class="filter-container flex" [formGroup]="filtrosForm">
  <div class="search-wrap flex content-center">
    <i class="fas fa-search"></i>
    <input
      (keyup.enter)="aplicarFiltros()"
      type="text"
      class="search-input"
      formControlName="textoBusca"
      placeholder="Pesquisar por visitante ou funcionário responsavel..."
    />
  </div>
  <label for="data-inicio">Data início: </label>
  <input
    class="filter-select"
    type="date"
    formControlName="dataInicio"
    id="data-inicio"
    (change)="aplicarFiltros()"
  />

  <label for="data-fim">Data fim: </label>
  <input
    class="filter-select"
    type="date"
    formControlName="dataFim"
    id="data-fim"
    (change)="aplicarFiltros()"
  />

  <select
    class="filter-select"
    name="filter-select"
    formControlName="tipoVisita"
    (change)="aplicarFiltros()"
  >
    <option value="">Todos os tipos</option>
    <option *ngFor="let item of tipoVisita | async" [value]="item.id">
      {{ item.tipo }}
    </option>
  </select>

  <button
    type="button"
    class="portaria-btn portaria-btn--secondary filter"
    (click)="limparFiltros()"
  >
    <i class="ft-filter"></i>
    Limpar
  </button>
</div>

<!-- Estado: a carregar -->
<ng-container *ngIf="carregando | async; else listaVisitas">
  <div class="loading-state">
    <img class="loader" src="assets/img/oval.svg" alt="" />
    <p>Carregando visitas...</p>
  </div>
</ng-container>

<ng-container
  *ngIf="!(carregando | async) && (listaMovimentacoes | async).length === 0"
>
  <div class="loading-state">
    <p>Nenhuma visita encontrada...</p>
  </div>
</ng-container>

<ng-template #listaVisitas>
  <table class="tbl">
    <thead>
      <tr>
        <th>Visitante</th>
        <th class="tbl-col-tight">Entrada</th>
        <th class="tbl-col-tight">Hora Saida</th>
        <th class="tbl-col-tight">Tipo</th>
        <th>Responsável</th>
        <th>Notas</th>
      </tr>
    </thead>

    <tbody>
      <!-- Estado: com dados -->
      <ng-container *ngIf="!(carregando | async)">
        <tr *ngFor="let visita of listaMovimentacoes | async">
          <td class="bold-text">{{ visita.nomeVisitante }}</td>
          <td>{{ visita.horaEntrada | date: "dd/MM/yyyy HH:mm" }}</td>
          <td>
            <span class="data">{{
              visita.horaSaida | date: "dd/MM/yyyy HH:mm"
            }}</span>
          </td>
          <td>{{ visita.tipoVisita }}</td>
          <td>
            {{
              visita.funcionarioResponsavel
                ? visita.funcionarioResponsavel
                : "_"
            }}
          </td>
          <td [title]="visita.notas">
            {{ visita.notas ? visita.notas : "_" }}
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</ng-template>

<!-- Paginação -->
<app-paginacao [paginador]="paginador"></app-paginacao>
